@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --black: #262632;
  --white: #f6f6ff;
  --primary: #ffff44;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background-attachment: fixed;
  overflow-y: scroll;
}

body:before {
  left: 0;
  background-color: var(--black);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to top, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
}

body:after {
  background-color: var(--white);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to top, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  right: 0;
}

body:before,
body:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100vh;
  width: 50%;
  background-size: 40px 40px;
  background-attachment: fixed;
  z-index: -1;
  animation: animateBackground infinite linear 90s;
}

main {
  display: grid;
  place-items: center;
}

h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: var(--primary);
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
}

[data-js="team"] {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 1rem 0;
}

[data-js="team"] .card {
  display: grid;
  place-items: center;
}

[data-js="team"] .sprite {
  filter: drop-shadow(15px 5px 0 rgba(0, 0, 0, 0.4));
}

@keyframes animateBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1200px 1200px;
  }
}
